[Unit]
Description=BootNode
After=network.target

[Service]
Type=simple
User=root
ExecStart=/root/work/src/github.com/cypherium/CypherTestNet/go-cypherium/build/bin/bootnode -nodekey=/root/boot.key
Restart=on-abort

[Install]
WantedBy=multi-user.target
