[Unit]
Description=Cypherium go client
After=network.target

[Service]
Type=simple
User=root
ExecStart=/root/work/src/github/cypherium/CypherTestNet/go-cypherium/run.sh 1
Restart=on-abort

[Install]
WantedBy=multi-user.target
